# Lending Club Loan Data - ETL Pipeline

In [1]:
import sqlite3

import pandas as pd
import numpy as np
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import *

## Part 2. Data Pipeline Engineering

In this section I will create an ETL pipeline using an SQLite database and the SQLAlchemy library to define a data model, write queries and manipulate the SQL database using python.

### 2.1 Creating a database

I will use an SQLite database that comes pre-installed with python. The first step is to create a new database from the command line and then connecting to it.

`$ touch loans.db`

In [6]:
engine = create_engine('sqlite:///loans.db')

### 2.2 Defining a data model / schema

I will start by defining a data schema. I will create a table in my database using the data types I determined in my exploratory analysis (see `Loan Data - EDA.ipynb` notebook), denoting `loan_id` as the primary key column.

In [30]:
Base = declarative_base()

In [27]:
class Loans(Base):
    __tablename__ = "tbl_loans"
    loan_id = Column(Integer, primary_key=True)
    member_id = Column(Integer)
    term = Column(String)
    grade = Column(String)
    url = Column(String)
    sub_grade = Column(String)
    emp_title = Column(String)
    emp_length = Column(String)
    home_ownership = Column(String)
    verification_status = Column(String)
    loan_status = Column(String)
    pymnt_plan = Column(String)
    desc = Column(String)
    purpose = Column(String)
    title = Column(String)
    zip_code = Column(String)
    addr_state = Column(String)
    earliest_cr_line = Column(String)
    initial_list_status = Column(String)
    application_type = Column(String)
    verification_status_joint = Column(String)
    sec_app_earliest_cr_line = Column(String)
    hardship_flag = Column(String)
    hardship_type = Column(String)
    hardship_reason = Column(String)
    hardship_status = Column(String)
    hardship_loan_status = Column(String)
    disbursement_method = Column(String)
    debt_settlement_flag = Column(String)
    settlement_status = Column(String)
    policy_code = Column(Integer)
    loan_amnt = Column(Float)
    funded_amnt = Column(Float)
    revol_bal = Column(Float)
    funded_amnt_inv = Column(Float)
    int_rate = Column(Float)
    installment = Column(Float)
    annual_inc = Column(Float)
    dti = Column(Float)
    delinq_2yrs = Column(Float)
    inq_last_6mths = Column(Float)
    mths_since_last_delinq = Column(Float)
    mths_since_last_record = Column(Float)
    open_acc = Column(Float)
    pub_rec = Column(Float)
    revol_util = Column(Float)
    total_acc = Column(Float)
    out_prncp = Column(Float)
    out_prncp_inv = Column(Float)
    total_pymnt = Column(Float)
    total_pymnt_inv = Column(Float)
    total_rec_prncp = Column(Float)
    total_rec_int = Column(Float)
    total_rec_late_fee = Column(Float)
    recoveries = Column(Float)
    collection_recovery_fee = Column(Float)
    last_pymnt_amnt = Column(Float)
    collections_12_mths_ex_med = Column(Float)
    mths_since_last_major_derog = Column(Float)
    annual_inc_joint = Column(Float)
    dti_joint = Column(Float)
    acc_now_delinq = Column(Float)
    tot_coll_amt = Column(Float)
    tot_cur_bal = Column(Float)
    open_acc_6m = Column(Float)
    open_act_il = Column(Float)
    open_il_12m = Column(Float)
    open_il_24m = Column(Float)
    mths_since_rcnt_il = Column(Float)
    total_bal_il = Column(Float)
    il_util = Column(Float)
    open_rv_12m = Column(Float)
    open_rv_24m = Column(Float)
    max_bal_bc = Column(Float)
    all_util = Column(Float)
    total_rev_hi_lim = Column(Float)
    inq_fi = Column(Float)
    total_cu_tl = Column(Float)
    inq_last_12m = Column(Float)
    acc_open_past_24mths = Column(Float)
    avg_cur_bal = Column(Float)
    bc_open_to_buy = Column(Float)
    bc_util = Column(Float)
    chargeoff_within_12_mths = Column(Float)
    delinq_amnt = Column(Float)
    mo_sin_old_il_acct = Column(Float)
    mo_sin_old_rev_tl_op = Column(Float)
    mo_sin_rcnt_rev_tl_op = Column(Float)
    mo_sin_rcnt_tl = Column(Float)
    mort_acc = Column(Float)
    mths_since_recent_bc = Column(Float)
    mths_since_recent_bc_dlq = Column(Float)
    mths_since_recent_inq = Column(Float)
    mths_since_recent_revol_delinq = Column(Float)
    num_accts_ever_120_pd = Column(Float)
    num_actv_bc_tl = Column(Float)
    num_actv_rev_tl = Column(Float)
    num_bc_sats = Column(Float)
    num_bc_tl = Column(Float)
    num_il_tl = Column(Float)
    num_op_rev_tl = Column(Float)
    num_rev_accts = Column(Float)
    num_rev_tl_bal_gt_0 = Column(Float)
    num_sats = Column(Float)
    num_tl_120dpd_2m = Column(Float)
    num_tl_30dpd = Column(Float)
    num_tl_90g_dpd_24m = Column(Float)
    num_tl_op_past_12m = Column(Float)
    pct_tl_nvr_dlq = Column(Float)
    percent_bc_gt_75 = Column(Float)
    pub_rec_bankruptcies = Column(Float)
    tax_liens = Column(Float)
    tot_hi_cred_lim = Column(Float)
    total_bal_ex_mort = Column(Float)
    total_bc_limit = Column(Float)
    total_il_high_credit_limit = Column(Float)
    revol_bal_joint = Column(Float)
    sec_app_inq_last_6mths = Column(Float)
    sec_app_mort_acc = Column(Float)
    sec_app_open_acc = Column(Float)
    sec_app_revol_util = Column(Float)
    sec_app_open_act_il = Column(Float)
    sec_app_num_rev_accts = Column(Float)
    sec_app_chargeoff_within_12_mths = Column(Float)
    sec_app_collections_12_mths_ex_med = Column(Float)
    sec_app_mths_since_last_major_derog = Column(Float)
    deferral_term = Column(Float)
    hardship_amount = Column(Float)
    hardship_length = Column(Float)
    hardship_dpd = Column(Float)
    orig_projected_additional_accrued_interest = Column(Float)
    hardship_payoff_balance_amount = Column(Float)
    hardship_last_payment_amount = Column(Float)
    settlement_amount = Column(Float)
    settlement_percentage = Column(Float)
    settlement_term = Column(Float)
    issue_d = Column(DateTime)
    last_pymnt_d = Column(DateTime)
    next_pymnt_d = Column(DateTime)
    last_credit_pull_d = Column(DateTime)
    hardship_start_date = Column(DateTime)
    hardship_end_date = Column(DateTime)
    payment_plan_start_date = Column(DateTime)
    debt_settlement_flag_date = Column(DateTime)
    settlement_date = Column(DateTime)

In [31]:
# creating the loans table if it doesn't exist
Loans.__table__.create(bind=engine, checkfirst=True)

### 2.3 Extracting the data from the csv file

In [3]:
# loading the data from csv file using pandas
data = pd.read_csv('/Users/christina/Desktop/LC/data/loan.csv', low_memory=False)

### 2.4 Transforming the data and loading into a staging table

Editing the primary key column.

In [4]:
# since the `id` column is not populated we will reset the index and set it as our unique indentifier (loan_id)
# (assuming that each row represents one loan and there are no duplicates)
data = data.reset_index().rename(columns={"index": "loan_id"})

# drop id since its empty
data = data.drop(columns='id')

In [5]:
data.head()

,loan_id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# loading data into a staging table in our SQLite database
data.to_sql('loans_staging_table', con=engine)

### 2.5 SQL code transform, validate and store the data

***Note***: the below SQL code was executed on an SQL IDE, not inside this notebook.

```sql
-- step 1. create table (this step was already executed on python via SQLAlchemy)

CREATE TABLE tbl_loans
(
  loan_id                                    INT not null primary key,
  member_id                                  INT,
  term                                       VARCHAR(100),
  grade                                      VARCHAR(100),
  url                                        VARCHAR(100),
  sub_grade                                  VARCHAR(100),
  emp_title                                  VARCHAR(100),
  emp_length                                 VARCHAR(100),
  home_ownership                             VARCHAR(100),
  verification_status                        VARCHAR(100),
  loan_status                                VARCHAR(100),
  pymnt_plan                                 VARCHAR(100),
  desc                                       VARCHAR(100),
  purpose                                    VARCHAR(100),
  title                                      VARCHAR(100),
  zip_code                                   VARCHAR(100),
  addr_state                                 VARCHAR(100),
  earliest_cr_line                           VARCHAR(100),
  initial_list_status                        VARCHAR(100),
  application_type                           VARCHAR(100),
  verification_status_joint                  VARCHAR(100),
  sec_app_earliest_cr_line                   VARCHAR(100),
  hardship_flag                              VARCHAR(100),
  hardship_type                              VARCHAR(100),
  hardship_reason                            VARCHAR(100),
  hardship_status                            VARCHAR(100),
  hardship_loan_status                       VARCHAR(100),
  disbursement_method                        VARCHAR(100),
  debt_settlement_flag                       VARCHAR(100),
  settlement_status                          VARCHAR(100),
  policy_code                                INT,
  loan_amnt                                  FLOAT,
  funded_amnt                                FLOAT,
  revol_bal                                  FLOAT,
  funded_amnt_inv                            FLOAT,
  int_rate                                   FLOAT,
  installment                                FLOAT,
  annual_inc                                 FLOAT,
  dti                                        FLOAT,
  delinq_2yrs                                FLOAT,
  inq_last_6mths                             FLOAT,
  mths_since_last_delinq                     FLOAT,
  mths_since_last_record                     FLOAT,
  open_acc                                   FLOAT,
  pub_rec                                    FLOAT,
  revol_util                                 FLOAT,
  total_acc                                  FLOAT,
  out_prncp                                  FLOAT,
  out_prncp_inv                              FLOAT,
  total_pymnt                                FLOAT,
  total_pymnt_inv                            FLOAT,
  total_rec_prncp                            FLOAT,
  total_rec_int                              FLOAT,
  total_rec_late_fee                         FLOAT,
  recoveries                                 FLOAT,
  collection_recovery_fee                    FLOAT,
  last_pymnt_amnt                            FLOAT,
  collections_12_mths_ex_med                 FLOAT,
  mths_since_last_major_derog                FLOAT,
  annual_inc_joint                           FLOAT,
  dti_joint                                  FLOAT,
  acc_now_delinq                             FLOAT,
  tot_coll_amt                               FLOAT,
  tot_cur_bal                                FLOAT,
  open_acc_6m                                FLOAT,
  open_act_il                                FLOAT,
  open_il_12m                                FLOAT,
  open_il_24m                                FLOAT,
  mths_since_rcnt_il                         FLOAT,
  total_bal_il                               FLOAT,
  il_util                                    FLOAT,
  open_rv_12m                                FLOAT,
  open_rv_24m                                FLOAT,
  max_bal_bc                                 FLOAT,
  all_util                                   FLOAT,
  total_rev_hi_lim                           FLOAT,
  inq_fi                                     FLOAT,
  total_cu_tl                                FLOAT,
  inq_last_12m                               FLOAT,
  acc_open_past_24mths                       FLOAT,
  avg_cur_bal                                FLOAT,
  bc_open_to_buy                             FLOAT,
  bc_util                                    FLOAT,
  chargeoff_within_12_mths                   FLOAT,
  delinq_amnt                                FLOAT,
  mo_sin_old_il_acct                         FLOAT,
  mo_sin_old_rev_tl_op                       FLOAT,
  mo_sin_rcnt_rev_tl_op                      FLOAT,
  mo_sin_rcnt_tl                             FLOAT,
  mort_acc                                   FLOAT,
  mths_since_recent_bc                       FLOAT,
  mths_since_recent_bc_dlq                   FLOAT,
  mths_since_recent_inq                      FLOAT,
  mths_since_recent_revol_delinq             FLOAT,
  num_accts_ever_120_pd                      FLOAT,
  num_actv_bc_tl                             FLOAT,
  num_actv_rev_tl                            FLOAT,
  num_bc_sats                                FLOAT,
  num_bc_tl                                  FLOAT,
  num_il_tl                                  FLOAT,
  num_op_rev_tl                              FLOAT,
  num_rev_accts                              FLOAT,
  num_rev_tl_bal_gt_0                        FLOAT,
  num_sats                                   FLOAT,
  num_tl_120dpd_2m                           FLOAT,
  num_tl_30dpd                               FLOAT,
  num_tl_90g_dpd_24m                         FLOAT,
  num_tl_op_past_12m                         FLOAT,
  pct_tl_nvr_dlq                             FLOAT,
  percent_bc_gt_75                           FLOAT,
  pub_rec_bankruptcies                       FLOAT,
  tax_liens                                  FLOAT,
  tot_hi_cred_lim                            FLOAT,
  total_bal_ex_mort                          FLOAT,
  total_bc_limit                             FLOAT,
  total_il_high_credit_limit                 FLOAT,
  revol_bal_joint                            FLOAT,
  sec_app_inq_last_6mths                     FLOAT,
  sec_app_mort_acc                           FLOAT,
  sec_app_open_acc                           FLOAT,
  sec_app_revol_util                         FLOAT,
  sec_app_open_act_il                        FLOAT,
  sec_app_num_rev_accts                      FLOAT,
  sec_app_chargeoff_within_12_mths           FLOAT,
  sec_app_collections_12_mths_ex_med         FLOAT,
  sec_app_mths_since_last_major_derog        FLOAT,
  deferral_term                              FLOAT,
  hardship_amount                            FLOAT,
  hardship_length                            FLOAT,
  hardship_dpd                               FLOAT,
  orig_projected_additional_accrued_interest FLOAT,
  hardship_payoff_balance_amount             FLOAT,
  hardship_last_payment_amount               FLOAT,
  settlement_amount                          FLOAT,
  settlement_percentage                      FLOAT,
  settlement_term                            FLOAT,
  issue_d                                    DATETIME,
  last_pymnt_d                               DATETIME,
  next_pymnt_d                               DATETIME,
  last_credit_pull_d                         DATETIME,
  hardship_start_date                        DATETIME,
  hardship_end_date                          DATETIME,
  payment_plan_start_date                    DATETIME,
  debt_settlement_flag_date                  DATETIME,
  settlement_date                            DATETIME
);
```

```sql
-- step 2. insert the data of the staging table to the tbl_loans table that has the correct data types (and exclude the index column that was created when loading the data to the staging table)

INSERT INTO tbl_loans 
(loan_id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit, revol_bal_joint, sec_app_earliest_cr_line, sec_app_inq_last_6mths, sec_app_mort_acc, sec_app_open_acc, sec_app_revol_util, sec_app_open_act_il, sec_app_num_rev_accts, sec_app_chargeoff_within_12_mths, sec_app_collections_12_mths_ex_med, sec_app_mths_since_last_major_derog, hardship_flag, hardship_type, hardship_reason, hardship_status, deferral_term, hardship_amount, hardship_start_date, hardship_end_date, payment_plan_start_date, hardship_length, hardship_dpd, hardship_loan_status, orig_projected_additional_accrued_interest, hardship_payoff_balance_amount, hardship_last_payment_amount, disbursement_method, debt_settlement_flag, debt_settlement_flag_date, settlement_status, settlement_date, settlement_amount, settlement_percentage, settlement_term)
select loan_id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit, revol_bal_joint, sec_app_earliest_cr_line, sec_app_inq_last_6mths, sec_app_mort_acc, sec_app_open_acc, sec_app_revol_util, sec_app_open_act_il, sec_app_num_rev_accts, sec_app_chargeoff_within_12_mths, sec_app_collections_12_mths_ex_med, sec_app_mths_since_last_major_derog, hardship_flag, hardship_type, hardship_reason, hardship_status, deferral_term, hardship_amount, hardship_start_date, hardship_end_date, payment_plan_start_date, hardship_length, hardship_dpd, hardship_loan_status, orig_projected_additional_accrued_interest, hardship_payoff_balance_amount, hardship_last_payment_amount, disbursement_method, debt_settlement_flag, debt_settlement_flag_date, settlement_status, settlement_date, settlement_amount, settlement_percentage, settlement_term

FROM loans_staging_table;

```

```sql 
-- step 3. dropping the staging table
DROP TABLE loans_staging_table;
```